<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="https://stackpath.bootstr
apcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
 integrity="sha384-
Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9If
jh" crossorigin="anonymous">
</head>
<body>
<h1>Ajouter un projet</h1>
<form action="" method="post">
    <label for="nom">Nom</label>
    <input type="text" class='form-control mx-3' style="width:250px;" name="nom" id="nom">
    <label for="description" >Description</label>
    <input type="text" class='form-control mx-3 ' style="width:250px;" name="description" id="description">
    <input class="btn btn-primary" type="submit" value="Ajouter">
</form>
    
</body>
</html>