<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User page</title>
    <link rel="stylesheet" href="https://stackpath.bootstr
apcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
 integrity="sha384-
Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9If
jh" crossorigin="anonymous">
</head>
<body>
    <h1>Page d'ajout d'utilisateur</h1>
    <form action="" method="post">
        <label for="nom" class="mx-3">Nom</label>
        <input class='form-control mx-3 '  style="width:250px;" type="text" name="nom" id="nom" placeholder="Nom">
        <label for="email" class="mx-3">Adresse mail</label>
        <input type="email" class='form-control mx-3 ' style="width:250px;"  name="adressemail" id="adressemail" placeholder="Adresse mail">
        <label for="role" class="mx-3">Role</label>
        <select name="role" id="role" class='form-control mx-3 '  style="width:250px;" type="text">
            <option value="ADMIN">Admin</option>
            <option value="USER">User</option>
        </select>
        <input class='btn btn-primary mx-3 mt-3' type="submit" value="Ajouter">
</body>
</html>